@{
    Layout = null;
	var poco = UmbracoVault.Vault.Context.GetCurrent<ReferenceWebsite.Models.UComponentsDataTypeGridModel>();
}

<span>@poco.DataTypeGrid.Count items</span>
<table border=1>
	<tr>
		<th>TextString type</th>
	    @*<th>DatePicker type</th>*@
	    <td>ContentPicker (object map)</td>
	</tr>
	@foreach(var entry in poco.DataTypeGrid)
	{
		<tr>
			<td>@entry.TextString</td>
		    @*<td>@entry.DatePicker</td>*@
            <td>@entry.ContentPicker</td>
		</tr>
	}
</table>
